.container {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    
}

nav {
    display: flex;
    background-color: rgb(98, 243, 79);
    color: white;
    padding: 20px 40px;
    justify-content: space-between;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: Arial, sans-serif;
    color: #f2f2f2;
}
ul li{
    list-style-type: none;
    
}
a{
    text-decoration: none;
}
h2{
    color: black;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
