* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(20, 113, 8);
    color: white;
    text-align: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
    margin-right:40px;
}
nav {
    background-color: white;
    padding: 25px;
    display: flex;
    justify-content: space-around ;
    align-items: center;
    margin-bottom: 20px;
    color: black;
    margin-bottom: 100px;
}
nav h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(20, 113, 8);
    letter-spacing: 1px;
}

a:hover{
    text-decoration: underline;
}
