body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
     color: #2c3e50;
    margin-top: 40px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px auto auto auto;
}

form {
    background-color: #fff;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 30px auto;
    padding: 25px 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: flex;
    width: 270px;
    justify-content: center;
    margin-top: 15px;
    font-weight: bold;
    color: #2c3e50;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border: 1px solid #2c3e50;
    border-radius: 8px;
    box-sizing: border-box;

}


button {
    display: block;
    width: 94%;
    background-color: #2c3e50;
    color: white;
    border: none;
    padding: 12px;
    margin-top: 20px;
    border-radius: 8px;
    font-size: 16px;
 
}