<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock  %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
</head>
<body>
  
    <div class="container">
        <nav>
          
           <h2>a</h2>
            <ul>  
                 <li><a href="{{ url_for('login') }}">Login</a></li>  
                <li><a href="{{ url_for('cadastro') }}">Cadastro</a></li>  
                          
            </ul>
        </nav>
        <main>
            <div>
                {% block conteudo %}
                {% endblock %}
            </div>
        </main>
    </div>
   

</body>
</html>