<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock  %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>
<body>
  
    <div class="conteiner">
        <nav>
            <h2>Biblioteca</h2>
            <ul>
                <li><a href="{{ url_for('index') }}">Início</a></li>
                <li><a href="{{ url_for('cadastro_livro') }}">Cadastrar Livro</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('cadastro_usuario') }}">Cadastro</a></li>
            </ul>
        </nav>
        <main>
            <div>
                {% block conteudo %}
                {% endblock %}
            </div>
        </main>
    </div>
   

</body>
</html>