{% extends "base.html" %} 

{%block title%} Cadastro {%endblock%}

{%block conteudo%}

<link rel="stylesheet" href="{{ url_for('static', filename='css/emprestimo.css') }}">

 <form action="{{url_for('cadastrar_emprestimo')}}" method="POST">
    <label for="livro">Livro:</label>
   <select name="id_livro" id="livro">
    <option value="">-- selecione um livro --</option>
    {% for livro in livros %}
        <option value="{{livro.ID_livro}}"> {{livro.Titulo}} </option>
    {% endfor %}
</select>

    <label for="data_emprestimo">Data Emprestimo</label>
    <input id="data_emprestimo" name="data_emprestimo" type="text">

    <label for="data_devolucao">Data Devolução</label>
    <input id="data_devolucao" name="data_devolucao" type="text">

    <label for="data_devolucao_real">Data Devolução Real</label>
    <input id="data_devolucao_real" name="data_devolucao_real" type="text">

    <label for="status_emprestimo">Status</label>
    <input id="status_emprestimo" name="status_emprestimo" type="text">

    <button type="submit">Enviar</button>
 </form>
{%endblock%}