{% extends "base.html" %} 

{%block title%} Editora {%endblock%}

{%block conteudo%}
 <link rel="stylesheet" href="{{ url_for('static', filename='css/editar_livro.css') }}">
 
    <h1>Editar Editora</h1>
    {% include 'partials/error.html'   %}
    <form method="POST" action="{{ url_for('editar_editoras' , id=editora.ID_editora) }}">
        <label for="nome">Nome</label>
        <input type="text" id="nome" name="nome" placeholder="{{ editora.Nome_editora }}" value="{{ editora.Nome_editora }}">
        <label for="endereco">Endereço</label>
        <input type="text" name="endereco" id="endereco" placeholder="{{ editora.Endereco_editora }}" value="{{ editora.Endereco_editora }}">
        <button type="submit">Salvar</button>
    </form>

{%endblock%}