{% extends "base.html" %} 

{%block title%} Biblioteca {%endblock%}

{%block conteudo%}
<main>
 <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<div class="inicial">
    <div class="content">
    <h1>Bem-vindo à Biblioteca da Macacada</h1>
    <p>Sistema de gerenciamento de biblioteca digital</p>
    </div>

    <img src="{{ url_for('static', filename='img/image.png') }}" alt="Imagem de Biblioteca" class="imagem-biblioteca">
</div>
<div class="landpage">
    
</div>
</main>
{%endblock%}