{% extends "base.html" %}

{% block title %}Lista de Livros{% endblock %}

{% block conteudo %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tabela.css') }}">

<div class="pagina-lista">
  <h1>Livros cadastrados</h1>

  <div class="tabela-wrapper">
    <table class="tabela">
      <thead>
        <tr>
          <th>ID</th>
          <th>Título</th>
          <th><a href="{{ url_for('autor.lista_autores' ) }}" class="id">Autor</a></th>
          <th><a href="{{ url_for('editora.listar_editoras' ) }}" class="id">Editora</a></th>
          <th><a href="{{ url_for('genero.listar_generos') }}" class="id">Gênero</a></th>
          <th>Ano</th>
          <th>Resumo</th>
          <th>Qtd</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody>
        {% for livro in rows %}
        <tr>
          <td>{{ livro.ID_livro }}</td>
          <td>{{ livro.Titulo }}</td>
          <td>{{ livro.Autor }}</td>
          <td>{{ livro.Editora }}</td>
          <td>{{ livro.Genero }}</td>
          <td>{{ livro.Ano_publicacao }}</td>
          <td>{{ livro.Resumo }}</td>
          <td>{{ livro.Quantidade_disponivel }}</td>

          <td class="acoes">
            <a href="{{ url_for('livro.editar_livro', id=livro.ID_livro) }}" class="btn-acao btn-editar">Editar</a>
            <a href="{{ url_for('livro.deletar_livro', id=livro.ID_livro) }}" class="btn-acao btn-excluir">Excluir</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
