{% extends "base.html" %}

{% block title %}Logs de Emprestimos{% endblock %}

{% block conteudo %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/logs.css') }}">

<div class="pagina-lista">
  <h1>Logs Emprestimo</h1>
  <div class="wrapper">
  
    <div class="tabela-wrapper">
      <table class="tabela">
        <thead>
          <tr>
            <th>ID_log</th>
            <th>Data_log</th>
            <th>Usuario_id</th>
            <th>Emprestimo_id</th>
            <th>Operação</th>
            <th>Campo</th>
            <th>Valor Anterior</th>
            <th>Valor Novo</th>
          </tr>
        </thead>
          <tbody>
              {% for log in logs %}
              <tr>
              <td>{{ log.ID_log }}</td>
              <td>{{ log.Data_log }}</td>
              <td>{{ log.Usuario_id }}</td>
              <td>{{ log.Emprestimo_id }}</td>
              <td>{{ log.Operacao }}</td>
              <td>{{ log.Campo }}</td>
              <td>{{ log.Valor_Anterior }}</td>
              <td> {{ log.Valor_Novo }} </td>
              {% endfor %}
          </tbody>
          
      </table>
    </div>
  </div>
    
</div>
{% endblock %}


